In [ ]:
1) Program to implement Na√Øve Bayes Algorithm using any standard dataset available in the
public domain and find the accuracy of the algorithm.

In [19]:
import numpy as np
import matplotlib.pyplot  as plt
import pandas as pd
import sklearn

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [21]:
data=pd.read_csv('iris.csv')
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [22]:
x=data.iloc[:,:4]
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [23]:
y=data.iloc[:,-1]
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

In [25]:
x_train.head()

     sepal.length  sepal.width  petal.length  petal.width
145           6.7          3.0           5.2          2.3
28            5.2          3.4           1.4          0.2
76            6.8          2.8           4.8          1.4
128           6.4          2.8           5.6          2.1
3             4.6          3.1           1.5          0.2

In [26]:
y_test

100     Virginica
88     Versicolor
71     Versicolor
29         Setosa
0          Setosa
19         Setosa
8          Setosa
55     Versicolor
138     Virginica
25         Setosa
62     Versicolor
24         Setosa
124     Virginica
135     Virginica
69     Versicolor
41         Setosa
36         Setosa
143     Virginica
119     Virginica
127     Virginica
45         Setosa
147     Virginica
30         Setosa
65     Versicolor
111     Virginica
64     Versicolor
15         Setosa
139     Virginica
148     Virginica
72     Versicolor
Name: variety, dtype: object

In [27]:
classifier=GaussianNB()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [28]:
y_pred

array(['Virginica', 'Versicolor', 'Versicolor', 'Setosa', 'Setosa',
       'Setosa', 'Setosa', 'Versicolor', 'Virginica', 'Setosa',
       'Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Versicolor',
       'Setosa', 'Setosa', 'Virginica', 'Versicolor', 'Virginica',
       'Setosa', 'Virginica', 'Setosa', 'Versicolor', 'Virginica',
       'Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Versicolor'],
      dtype='<U10')

In [29]:
cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test,y_pred)

In [30]:
cm

array([[11,  0,  0],
       [ 0,  8,  0],
       [ 0,  1, 10]])

In [31]:
ac

0.9666666666666667

In [32]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        11
  Versicolor       0.89      1.00      0.94         8
   Virginica       1.00      0.91      0.95        11

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30