In [ ]:
1) Program to implement text classification using Support vector machine

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.svm import SVC

In [2]:
data=pd.read_csv('iris.csv')
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
x=data.iloc[:,:4]
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
y=data.iloc[:,-1]
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

In [6]:
classifier=SVC(kernel='linear')
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [7]:
y_pred

array(['Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Setosa',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Setosa',
       'Versicolor', 'Setosa', 'Versicolor', 'Virginica', 'Virginica',
       'Setosa', 'Virginica', 'Setosa', 'Versicolor', 'Setosa',
       'Versicolor', 'Setosa', 'Virginica', 'Setosa', 'Versicolor',
       'Versicolor', 'Setosa', 'Setosa', 'Versicolor', 'Virginica'],
      dtype=object)

In [8]:
cm=confusion_matrix(y_test,y_pred)

In [9]:
ac=accuracy_score(y_test,y_pred)

In [10]:
cm

array([[12,  0,  0],
       [ 0, 10,  1],
       [ 0,  0,  7]])

In [11]:
ac

0.9666666666666667